params {
    sample_table = null
    outdir       = "results"
    fasta        = null
    gtf          = null
    
    strand       = "rf" 

    trim_minlen   = 140
    trim_avgqual  = 15

    rmats_lib_type  = "fr-firststrand"

    threads_fastqc        = 2
    threads_fastp         = 8
    threads_star_index    = 8
    threads_star          = 8
    threads_stringtie     = 4
    threads_featurecounts = 4
    threads_rmats         = 8
    snpeff_memory         = '16.GB'
}

profiles {
    standard {
        docker.enabled = true
        docker.fixOwnership = true
    }
}

process {

    container = 'mordziarz/pipeline_rnaseq:latest'
    
    withName: 'FASTQC_RAW' {
        cpus = { params.threads_fastqc }
    }
    withName: 'FASTQC_TRIM' {
        cpus = { params.threads_fastqc }
    }
    withName: 'FASTP' {
        cpus = { params.threads_fastp }
    }
    withName: 'STAR_INDEX' {
        cpus = { params.threads_star_index }
    }
    withName: 'STAR' {
        cpus = { params.threads_star }
    }
    withName: 'STRINGTIE_RUN' {
        cpus = { params.threads_stringtie }
    }
    withName: 'STRINGTIE_MERGE' {
        cpus = { params.threads_stringtie }
    }
    withName: 'FEATURECOUNTS' {
        cpus = { params.threads_featurecounts }
    }
    withName: 'RMATS' {
        cpus = { params.threads_rmats }
    }
    withName: 'SNPEFF' {
        memory = { params.snpeff_memory }
    }
}
